@import "tailwindcss";

@theme {
  --color-primary: #7C3AED;
  --color-secondary: #5B21B6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #080818;
  color: #ffffff;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #1a1a1a; }
::-webkit-scrollbar-thumb { background: #7C3AED; border-radius: 10px; }

@keyframes spin {
  to { transform: rotate(360deg); }
}